table {
  width: 100%;
}

thead th,
tbody td {
  padding: 0.7rem;
}

tbody tr:nth-child(even) {
  background: #ffffff;
}

tbody tr:nth-child(odd) {
  background: #e8f0fe;
}

.table__sort-by {
  cursor: pointer;
}
